header
{
  padding: 12px;
}
.head_er
{
  position: fixed;
  z-index: 10000;
  width: 100%;
  margin: auto;
  background: black;
}
.head_er header h1
{
  color: #e9b403;
  text-transform: uppercase;
  letter-spacing: 5px;
  float: left;
}
 .navi
 {
   float: right;
   overflow: hidden;
   float: right;
   font-family: 'Open sans';
}
   .navi ul li {
    text-decoration: none;
     display: inline;
     margin-bottom: -10px;
     margin-right: 20px;
}
   .navi a{
     text-decoration: none;
     color: #e9b403;
     opacity: 0.8;
}
 h2
{
  text-align: center;
  padding-top: 60px;
  font-size: 50px;
}
.wrap a{
  text-decoration: none;
  text-align: center;
  color: black;
}
.wrap a:hover{
  text-decoration: underline;;
  color: brown;
}
.wrap {
padding-top:50px;
text-align: justify;
}
.wrap1{
  padding-top: 30px;
  text-align: justify;;
}
.wrap2{
  padding-top: 100px;
  text-align: justify;;
}
.wrap3{
  padding-top: 100px;
  text-align: justify;
  padding-bottom: 100px;
}
.foot
{
  margin-top: -20px;
  width: 85%;
  background:black;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 200px;
  padding-top: -100px;
}
.olist ol li:hover
{
text-decoration: none;
color: brown;
}
.foot ul{
  list-style: none;
}
.foot h4
{
  color:#e9b403;
}
.foot  ul li a i
{
  color: white;
  text-decoration: none;
}
.textclass{

  position: absolute;
  color:grey;
  left:400px
font-family: "Open Sans";
}
.foot .address
{
  color: white;
}
.address a
{
  color: white;
}
