h1
{
  /*margin-left: 25px;
  margin-top: 20px;
  font-family:fantasy;
  font-weight: lighter;*/
  font-variant: small-caps;

    font-stretch: ultra-condensed;
color: #e9b403;
font-family: 'Open sans'
}
.header{

  position: relative;

}

.navbar {
  /*background:#321414	;*/
  background:black;
/*  opacity: 0.8;*/
    margin: auto;
  position:fixed;
  /*width:1000px;*/

}
.navbar h1
{
  float:left;

}

.nav {
  float: right;
  overflow: hidden;
}

.nav ul li {

  text-decoration: none;
  display: inline;
  margin-bottom: -10px;
  /*font-family: "Open Sans";*/
}
.nav a{
  text-decoration: none;
    color:#e9b403;
}
.wrap a{
  text-decoration: none;
  text-align: center;
  color: black;
}
.wrap a:hover{
  text-decoration: underline;;
  color: brown;
}
.wrap {

padding-top:100px;
text-align: justify;
}

.wrap1{
  padding-top: 100px;
  text-align: justify;;
}
.wrap2{
  padding-top: 100px;
  text-align: justify;;
}

.wrap3{
  padding-top: 100px;
  text-align: justify;
  padding-bottom: 100px;
}


.foot h4
{
  color:#e9b403;
}
.foot  ul li a i
{
  color: white;
  text-decoration: none;
}
.foot{
  color: black;
}


.textclass{

  position: absolute;
  color:grey;
  left:400px
font-family: "Open Sans";
}
.foot .address
{
  color: white;
}
.address a
{
  color: white;
}
