form li{
  list-style: circle;
  margin-bottom: 20px;
}
form ul{
  padding-left: 2%;
}
label
{
  display: block;
  cursor: pointer;
  color: #292929;
  font-family: sans-serif;
  padding-bottom: 8px;
}
textarea{
  width:200px;
  height:100px;
}
