  body{
    font-family: sans-serif;
    background-color: grey;
  }
    li{
    display: inline;
    padding-right: 20%;
    color: blue;
  }
ul a{
  text-decoration: none;
}
ul a:hover
{
  text-decoration: overline;
}
