

h1
{
  /*margin-left: 25px;
  margin-top: 20px;
  font-family:fantasy;
  font-weight: lighter;*/
  font-variant: small-caps;

    font-stretch: ultra-condensed;
color: white;
}
.header{

  position: relative;

}

.navbar {
  /*background:#321414	;*/
  background:#808000;
  opacity: 0.5;
    margin: auto;
  position:fixed;
  /*width:1000px;*/
  margin-left: 200px;
}
.navbar h1
{
  float:left

}

.nav {
  float: right;
  overflow: hidden;
}

.nav ul li {

  text-decoration: none;
  display: inline;
  margin-bottom: -10px;
}
.nav a{
  text-decoration: none;
  color: white;
}
.nav ul li a:hover
{

  text-decoration: underline;
  text-decoration-color: blue;
}

.hero {
  background-image: url('../b.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 960px;
  height: 100%;
  margin: auto;

}
.division{
  background:#E6BE8A;
  background-attachment: fixed;
  background-size: cover;
  width: 960px;
  height: 180%;
  margin: auto;
}

.wrap img{

padding-top:100px;
}
.foot
{
  margin-top: -20px;
  width: 100%;
  background:#808000;
  background-attachment: fixed;
  background-size: cover;
}



.textclass{
  position: absolute;
  color:grey;
  left:400px;
}
