

h1
{
  /*margin-left: 25px;*/
  /*margin-top: 20px;*/
  font-family:fantasy;
  font-weight: lighter;
  font-variant: small-caps;

    font-stretch: ultra-condensed;
color: #666;
}
.h{
  position:fixed;
  background:#8DEEEE;
  /*width:100%;*/
}

.navbar {
  background: black;
}

.nav {
  float: right;
  overflow: hidden;
}

.nav ul li {

  text-decoration: none;
  display: inline;
}
.nav a:hover
{

  text-decoration: underline;
  text-decoration-color: blue;
}

.hero {
  background-image: url('../b.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 960px;
  height: 100%;
  margin: auto;

}

.wrap img{

padding-top:100px;
}
.foot
{
  margin-top: -20px;
  width: 100%;
  background:#454343;
  background-attachment: fixed;
}
