body{
  background-color:#D3D3D3;
}

h1
{
  margin-left: 25px;
  margin:-top: 20px;
  font-family:fantasy;
  font-weight: lighter;
  font-variant: small-caps;
  float:left;
    font-stretch: ultra-condensed;
color: #666;
}
.h
{
  position: fixed;



}
.nav a{
  float: right;
}
ul {
  float: right;
  text-align:right;
  padding-right: 40px;
  margin-right: 20px;
  margin-top: -45px;

}
li
{
  display: inline;

}
ul a{
  text-decoration: none;
}
ul a:hover
{
  text-decoration: underline;
  text-decoration-color: blue;
}
.hero img
{
  width: 100%;
}
